version: '3.8'

services:
  web:
    build: .
    ports:
      - "8082:8082"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017

  mongo:
    image: mongo
    ports:
      - "27017:27017"
