<nav>
  <div class="site-title">
    <a href="/"><h1>Node - Mongo - CRUD</h1></a>
    <p>This site is based on database handling CRUD operations </p>
  </div>
  <ul class="nav">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="/about">About</a></li>
    <li class="nav"><a href="/user/create">Add User</a></li>
  </ul>
</nav>