body {
  padding: 50px 80px;
  font: 14px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

ul.nav {
    padding-bottom: 40px
}

li.nav {
  display: inline; /* or display: inline-block; */
  padding-left: 20px;
  padding-right: 20px;
}

input {
    display: inline-flexbox;
}

.sub {
    padding-top: 40px;
}